.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
    background-color: aqua;
    padding: 10px;
}
.item{
    background-color: rgb(118, 203, 206);
    border: 1px seagreen;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}
.item-1{
    grid-column-start: 1;
    grid-column-end: 5;
}
.item-2{
    grid-row-start: 2; 
    grid-column-end: 5;
}
    
